

body {
    
   
    background-color: hsl(188, 61%, 88%);
    border-spacing: 10cm;
    border-style: dashed;
    border-color: black;
    float: justify;
  }

  h1 {
    float: center;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  h2 {
    text-align: center;
    color: #146930;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    color: hsl(84, 2%, 46%);
    text-align: start;
    border-style: dotted;
    border-color: purple;
    border-top: 40px;
    border-left: 20px;
  }
  header {
    color: red;
    border-spacing: 50px;
    float: right;
  }